.yarn/cache
.yarn/install-state.gz
**/dist
**/node_modules
*.local.yaml
coverage
dist-types
examples
.ci
hermeto-cache
.github
.cursor
.claude
.rulesync
.rulesyncignore
.pr_agents.toml
.sonarcloud.properties
e2e-tests
docs
catalog-entities
translations
python
build
scripts

